* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: #333;
  font-size: 52px;
  font-weight: 700;
}

h2 {
  color: #333;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

/* General Styling */

.container {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: none;
  color: #eee;
  background-color: #164e63;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);

  font-size: 24px;
  font-weight: 600;

  width: 20rem;
  height: 4rem;
  border-radius: 8px;

  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #155e75;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* menu styling */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.menu-btns {
  display: flex;
  gap: 1rem;
}

/* Game and Board styling */

.game {
  display: flex;
  flex-direction: column;
  justify-items: center;

  gap: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* min-height: 30rem;
  min-width: 30rem; */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  border-radius: 8px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 44px;
  font-weight: 600;

  height: 8rem;

  color: #333;
}

.tile:hover {
  cursor: pointer;
  background-color: #ccc;
}

.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(3) {
  border-bottom: 2px solid #155e75;
}

.tile:nth-child(2),
.tile:nth-child(5),
.tile:nth-child(8) {
  border-left: 2px solid #155e75;
  border-right: 2px solid #155e75;
}

.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9) {
  border-top: 2px solid #155e75;
}

.game-results {
  margin-bottom: 1rem;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}